
/*-- RODAPE --*/
.styleRodape{
	/* background-color: rgb(70, 70, 70); */
	background-color: #1b2e4f;
	margin-top: 100px;
}

.styleRodape_Imagem_ufape{
	padding-top: 1.5rem; 
	padding-bottom: 1rem;
	text-align:center;
}
.styleRodape_Imagem_lmts{
	padding-top: 3.0rem; 
	padding-bottom: 2rem; 
	text-align:center;
}
.styleRodape_Texto{
	font-size: 13px; 
	color: white;
	text-align: center
}
.styleRodape_Texto_Titulo{
	padding-top: 1rem; 
	padding-bottom: 1rem;
	color:white;
}
.styleRodape_Texto_Conteudo_MapaDoSite{
	color:white;
	font-size: 13px;
	padding-top: 0.4rem;
}
.styleRodape_container{
	/* padding-bottom: 0.1rem; */
}
.styleRodape_container .col{
	margin-bottom:10px;
}
.styleRodape_Texto_Contato{
	font-size: 14px; 
}
.styleRodape_linha_left{
	border-left: solid; 
	color: white; 
	margin-top: 0.5rem;
	padding-bottom: 1rem;
	margin-left: 0.5rem;
	height: 90%;
}
.styleRodape_linha_top{
	border-top: solid; 
	color: white; 
	margin: 0.5rem;
}
/*--x RODAPE x--*/
